* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #021526;
}
.container {
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.card {
  background: white;
  height: 400px;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
}
.card-image {
  background-color: #d95f59;
  height: 170px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}

h1 {
  font-size: 700;
  font-family: "Big Shoulders Display", sans-serif;
  padding-left: 1.2rem;
}
p {
  line-height: 1.8rem;
  font-family: serif;
  padding-left: 10px;
}
#btn {
  background-color: white;
  font-family: sans-serif;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 10px;
  color: #d95f59;
}
#btn:hover {
  background-color: #f3e6d8;
}

@media (max-width: 1000px;) {
  .container {
    flex-direction: column;
    box-sizing: 20px;
    display: block;
    padding-right: 500rem;
    justify-content: center;
    align-items: center;
  }
}
